<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Home</h1>

<h2><%= a %></h2>
<table>
	<tr>
		<th>S.No.</th>
		<th>Name</th>
		<th>Age</th>
		<th>City</th>
	</tr>

<% data.forEach(function(x, n){ %>
		<tr>
			<td><%= n+1 %></td>
			<td><%= x.full_name %></td>
			<td><%= x.age %></td>
			<td><%= x.city %></td>
		</tr>
<% }) %>
</table>
</body>
</html>