<div class="container" style="min-height: 600px; height: auto;">
	<h2>All Record</h2>
	<table class="table table-hover table-stripped table-bordered">
		<tr>
			<th>S.No.</th>
			<th>Name</th>
			<th>Username</th>
			<th>City</th>
			<th>Contact</th>
		</tr>
		<% result.forEach(function(row, n){ %>
			<tr>
				<td><%= n+1 %></td>
				<td><%= row.company_name %></td>
				<td><%= row.username %></td>
				<td><%= row.city %></td>
				<td><%= row.contact %></td>
			</tr>
	<% }) %>
	</table>
</div>